* {
  padding: 0%;
  margin: 0%;
}

body {
  background-color: #dac5b8;
}

/*--------------vvvvHeadervvvv----------------*/

.header {
  background-color: black;
}

.flex-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 2em;
  padding: 1em;
}

.logo {
  height: 3em;
}

.logo:hover {
  -webkit-filter: brightness(90%);
}

.logo:active {
  -webkit-filter: brightness(50%);
  -webkit-transition: all 0.1s ease;
  -moz-transition: all 0.1s ease;
  -o-transition: all 0.1s ease;
  -ms-transition: all 0.1s ease;
  transition: all 0.1s ease;
}

/*--------------^^^^Header^^^^----------------*/

/*------------vvvvlinktreevvvv------------------*/

.linktree {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 1em;
}

.linktree a {
  margin: 1rem;
  background-color: #197bbd;
  color: white;
  text-decoration: none;
  padding: 1rem 2rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  border-radius: 0.3rem;
  text-align: center;
}

.linktree a:hover {
  background-color: #1e4752;
  box-shadow: 0.1rem 0.1rem #8a716a;
  outline-style: solid;
  outline-width: 0.1rem;
  outline-color: #00ff00;
}

.linktree a:active {
  background-color: #00ff00;
  color: #092f48;
  outline-style: solid;
  outline-width: 0.1rem;
  outline-color: #197bbd;
}

@media only screen and (min-width: 1400px) {
  .linktree {
    flex-direction: row;
  }
}
/*------------^^^^linktree^^^^------------------*/

/*------------vvvvFootervvvv------------------*/
.footer {
  font-family: Montserrat;
  text-align: center;

  margin-top: 2rem;
}

@media only screen and (min-height: 800px) {
  .footer {
    position: absolute;
    bottom: 0;
  }
}
/*------------^^^^Footer^^^^------------------*/
