* {
  padding: 0%;
  margin: 0%;
}

body {
  background-color: #c2b8b2;
}

/*--------------vvvvHeadervvvv----------------*/

.header {
  background-color: black;
}

.flex-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 2rem;
}

.logo {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
  text-decoration: none;
  color: #73bced;
  /*vvv makes the logo in the actual center*/
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.logo:hover {
  color: aqua;
}

.logo:active {
  background: linear-gradient(
    to right,
    #6666ff,
    #0099ff,
    #00ff00,
    #ff3399,
    #6666ff
  );
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  animation: rainbow_animation 1s ease-in-out infinite;
  background-size: 400% 100%;
}

@keyframes rainbow_animation {
  0%,
  100% {
    background-position: 0 0;
  }

  50% {
    background-position: 100% 0;
  }
}

.hamburger {
  /*makes the burger menu all the way to the left*/
  margin-right: auto;

  -webkit-filter: invert(0.75);
  /* safari 6.0 - 9.0 */
  filter: invert(0.75);
}

.hamburger:hover {
  background-color: #333;
  -webkit-filter: invert(100%);
  /* safari 6.0 - 9.0 */
  filter: invert(100%);
}
/*--------------^^^^Header^^^^----------------*/

/*------------vvvvlinktreevvvv------------------*/

.linktree {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.linktree a {
  margin: 1rem;
  background-color: #197bbd;
  color: white;
  text-decoration: none;
  padding: 1rem 2rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  border-radius: 0.3rem;
  text-align: center;
}

.linktree a:hover {
  background-color: #1e4752;
  box-shadow: 0.1rem 0.1rem #8a716a;
  outline-style: solid;
  outline-width: 0.1rem;
  outline-color: #00ff00;
}

.linktree a:active {
  background-color: #00ff00;
  color: #092f48;
  outline-style: solid;
  outline-width: 0.1rem;
  outline-color: #197bbd;
}

@media only screen and (min-width: 1400px) {
  .linktree {
    flex-direction: row;
  }
}
/*------------^^^^linktree^^^^------------------*/

/*------------vvvvFootervvvv------------------*/
.footer {
  font-family: Montserrat;
  text-align: center;

  margin-top: 2rem;
}

@media only screen and (min-height: 690px) {
  .footer {
    position: absolute;
    bottom: 0;
  }
}
/*------------^^^^Footer^^^^------------------*/
